<app-header titulo="card"></app-header>

<ion-content>
  
  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  
  </ion-card>

  <ion-card>
   
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aspernatur consectetur officiis facere, accusantium est quibusdam nesciunt cupiditate doloribus provident non? Adipisci cumque ut eius reiciendis fugit a doloribus minus?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, esse praesentium. Iusto quo, unde optio sapiente amet aliquid in voluptate? Asperiores esse error quia hic sunt libero mollitia, consectetur totam.</ion-card-content>
  </ion-card>
</ion-content>
